.section-tittle{
    margin-bottom:60px;
}
.home{
    background:$main2dark;
    min-height: 100vh;
    padding: 50px 0;  
    border-radius:0 0 200px;
    position:relative;
    // margin-bottom:300px;
    .effect-wrap{
        .effect{
            opacity:0.8;
            position: absolute;
            // z-index: -1;
        }
        .effect-1{
            top:20%;
            left:20%;
            font-size: 20px;
            color:$color2;
            animation: spin_01 5s infinite linear;
        }
        .effect-2{
            top:5%;
            right:5%;
            font-size: 25px;
            color:rgba(25,25,25,0.5);
            animation: spin_01 5s infinite linear;
        }
        .effect-3{
            left:5%;
            bottom:30%;
            font-size: 25px;
            color:rgba(25,25,25,0.5);
            animation: bounce0  3s infinite linear;
            
        }
        
    }
    .container{
        .row{

        .cv{
            .home-text{
                h1{
                    font-size:45px;
                    font-weight:700;
                    color:#ffffff;
                    margin: 0 0 20px;

                }
                p{
                    font-size: 18px;
                    color:#ffffff;
                }
                .home-button{
                    .vid-btn{
                        margin-left:2rem;
                        height:50px;
                        width:50px;
                        border-radius:50%;
                        padding:0;
                        animation: pulse 2s ease infinite;
                        &:hover{
                            animation:none;
                            box-shadow:$shadow2;
                        }
                    }
                }
            }
    
        }
        .ig{
            .home-image{
                position:relative;
                display:flex;
                align-items:center;
                justify-content: center;
                    img{
                        max-width:400px;
                        width:100%;
                        animation: bounce 2.5s ease infinite;
                    }
                    .circle{
                        position: absolute;
                        z-index: 1;
                        height:400px;
                        width:400px;
                        border-radius:50%;
                        border: 1px solid rgba(255,255,255,0.2);
                        // left:50%;
                        // top:50%;
                        transform: translate(-50%, -50%);
                        animation: spin_01  13s linear infinite;
                        &::before{
                            content: '';
                            position: absolute;
                            height:40px;
                            width:40px;
                            border-radius: 50%;
                            background-color: rgba(255,255,255,0.2);
                            left:50px;
                            top:30px;
                            transform-origin: 170px 170x;
                        }    

                    }

                    
                }
            }

        }
    }

}
.video-popup{

    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.7);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    visibility:hidden;
    transition:all 0.5s;
    &.open{
        opacity:1;
        visibility:visible;
    }
  
    .inner{
        width:80%; 
        height:80%;
        max-width:900px;
        background-color:blue;
        position:relative;
        // display:flex;
        // justify-content:center;
        // align-items:center;
          .close-vid{
        position:absolute;
        right:0;
        top:-30px;
        height:30px;
        width:30px;
        font-size:16px;
        text-align:center;
        line-height:30px;
        cursor:pointer;
        color:#ffffff;
        // z-index:2;


    }

        .frame-box{
            height:0;
            overflow:hidden;
            padding:56.25%;
            #player1{

                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                border:0;
            }
        }
    }

}